<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <!-- add icon link -->
    <link rel="icon" href="image/Logo_CalorieCare.png" type="image/x-icon" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- apply.css -->
    <link rel="stylesheet" href="/css/styles.css" />
    
    <style>
        body {
                background-image: url("image/BG.png");
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
            } 
        .btn-green2 {
                --bs-btn-color: #fff;
                --bs-btn-bg: #839788;
                --bs-btn-border-color: #839788;
                --bs-btn-hover-color: #fff;
                --bs-btn-hover-bg: #157347;
                --bs-btn-hover-border-color: #157347;
                --bs-btn-focus-shadow-rgb: 25, 135, 84;
                --bs-btn-active-color: #fff;
                --bs-btn-active-bg: #fff;
                --bs-btn-active-border-color: #fff;
                --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                --bs-btn-disabled-color: #fff;
                --bs-btn-disabled-bg: transparent;
                --bs-btn-disabled-border-color: #fff;
            }
            .no-underline {
                text-decoration: none;
            }
            .paragraph {
                columns: 200px 2;
                column-gap: 30px;
                color: #fff;
                padding: 25px;
            }
            .grid {
                padding-top: 2%;
                margin-bottom: 3rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-gap: 1rem;
            }
            @media (max-width: 767.98px) {
                .grid {
                padding-top: 2%;
                margin-bottom: 3rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-gap: 1rem;
                }
            }
    </style>
</head>
<body>

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(255, 255, 255, 0.2);">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">
                <img src="image/Logo_CalorieCare.png" alt="Bootstrap" width="70" height="70">
            </a>
                    <form class="d-flex justify-content-end">
                        <% if (loggedIn) { %>
                            <h2><a class="nav-link" href="/profile"><i class="bi bi-person-circle text-green"></i></a></h2>
                            <a class="btn btn-outline-danger" href="/logout">
                                ออกจากระบบ
                            </a>
                        <% } %>
                
                        <% if (!loggedIn) { %>
                            <a class="btn btn-green2 btn-lg" href="/register">
                                สมัครสมาชิก
                            </a>
                        <% } %>
                    </form>
        </div>
    </nav>

    <!-- Container / Register form -->
    <div class="container">
        <div class="grid">
            <div class="grid-items">
                <div class="card mx-auto" style="width: 100%; max-width: 600px; border-radius: 2%;">
                    <div class="card-body p-5">
                        <div class="text-center">
                            <img src="image/Logo_CalorieCare.png" alt="Bootstrap" width="200" height="200">
                        </div>
                        <h4 class="card-title fw-bolder text-center text-green">สมัครสมาชิก</h4>

                        <% if(errors != null && errors.length > 0) { %>
                                <p class="alert alert-danger error-message">
                                    <%= errors %>
                                </p>
                        <% } %>

                        <form action="/user/register" method="POST">
                            <div class="form-group mt-3">
                                <label class="Text" for="username">ชื่อผู้ใช้</label>
                                <input type="text" value="<%= username %>" class="form-control" id="username" name="username"/>
                            </div>
                            <div class="form-group mt-2">
                                <label class="Text" for="password">รหัสผ่าน</label>
                                <input type="password" value="<%= password %>" class="form-control" id="password" name="password"/>
                            </div>
                            <div class="form-group mt-2">
                                <label class="Text" for="email">อีเมล</label>
                                <input type="email" value="<%= email %>" class="form-control" id="email" name="email"/>
                            </div>
                            <label for="gender">เพศ</label>
                            <div class="container mb-3 mt-2"> 
                                <div class="row">
                                    <div class="col text-center">
                                        <input type="radio" class="btn-check" name="gender" class="form-control" value="male" id="male" autocomplete="off">
                                        <label class="btn btn-outline-primary w-100" for="male"><i class="bi bi-gender-male"></i> ผู้ชาย</label>
                                    </div>
                                    <div class="col text-center">
                                        <input type="radio" class="btn-check" name="gender" class="form-control" value="female" id="female" autocomplete="off">
                                        <label class="btn btn-pink w-100" for="female"><i class="bi bi-gender-female"></i> ผู้หญิง</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-2">
                                <label class="Text" for="weight">น้ำหนักตัว (kg.)</label>
                                <input type="number" value="<%= weight %>" class="form-control" id="weight" name="weight"/>
                            </div>
                            <div class="form-group mt-2">
                                <label class="Text" for="height">ส่วนสูง (cm.)</label>
                                <input type="number" value="<%= height %>" class="form-control" id="height" name="height"/>
                            </div>
                            <div class="form-group mt-2">
                                <label class="Text" for="age">อายุ (ปี)</label>
                                <input type="number" value="<%= age %>" class="form-control" id="age" name="age"/>
                            </div>
                            <p class="mt-2">
                                กิจกรรมการออกกำลังกาย
                                <select name="activity" id="activity" class="form-select form-select-m mb-3" aria-label=".form-select-lg example">
                                    <option selected>เลือกกิจกรรมการออกกำลังกาย</option>
                                    <option value="Sedentary">ออกกำลังกายน้อยหรือไม่ออกกำลังกายเลย</option>
                                    <option value="Light">ออกกำลังกายเบาๆ 1-3 วันต่อสัปดาห์</option>
                                    <option value="Moderate">ออกกำลังกายปานกลาง 3-5 วันต่อสัปดาห์</option>
                                    <option value="Active">ออกกำลังกายหนักมาก 6-7 วันต่อสัปดาห์</option>
                                    <option value="VeryActive">ฝึกซ้อมหนักทุกวันไม่หยุด</option>
                                </select>
                            </p>
                            <button class="button w-100 btn btn-lg mt-3 btn-green2 mt-4" type="submit">สมัครเลย</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
